@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,600&subset=latin-ext);

@-webkit-keyframes indicator {
  0%,to {
    background: #c8cfd7;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  50% {
    background: #647589;
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }
}

@keyframes indicator {
  0%,to {
    background: #c8cfd7;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  50% {
    background: #647589;
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.offline-enter-active,.offline-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.offline-enter,.offline-leave-to {
  opacity: 0;
}

.fade-enter-active,.fade-leave-active {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.fade-enter,.fade-leave-to {
  opacity: 0;
}

.fade-slow-enter-active,.fade-slow-leave-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-slow-enter,.fade-slow-leave-to {
  opacity: 0;
}

.slide-enter-active,.slide-leave-active {
  -webkit-transition: all .3s ease-in-out!important;
  transition: all .3s ease-in-out!important;
}

.slide-enter,.slide-leave-to {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  opacity: 0;
}

.moment-enter,.moment-enter-active {
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.moment-enter-active .moment,.moment-enter .moment {
  -webkit-transition: -webkit-transform .6s cubic-bezier(.165,.84,.44,1);
  transition: -webkit-transform .6s cubic-bezier(.165,.84,.44,1);
  transition: transform .6s cubic-bezier(.165,.84,.44,1);
  transition: transform .6s cubic-bezier(.165,.84,.44,1),-webkit-transform .6s cubic-bezier(.165,.84,.44,1);
}

.moment-leave,.moment-leave-active {
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.moment-leave-active .moment,.moment-leave .moment {
  -webkit-transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition: -webkit-transform .6s cubic-bezier(.19,1,.22,1);
  transition: transform .6s cubic-bezier(.19,1,.22,1);
  transition: transform .6s cubic-bezier(.19,1,.22,1),-webkit-transform .6s cubic-bezier(.19,1,.22,1);
}

.moment-enter,.moment-leave-active {
  opacity: 0;
}

.moment-enter .moment,.moment-leave-active .moment {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.greeting-enter-active {
  -webkit-transition: opacity 1s,-webkit-transform .4s;
  transition: opacity 1s,-webkit-transform .4s;
  transition: opacity 1s,transform .4s;
  transition: opacity 1s,transform .4s,-webkit-transform .4s;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.greeting-enter {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.quick-buttons-enter-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.quick-buttons-enter {
  opacity: 0;
}

.response-enter-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.response-enter {
  opacity: 0;
}

#chatbot-plugin * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index:9999999999999999;
}

#chatbot-app a {
  text-decoration: none;
}

#chatbot-app html {
  width: 100%;
}

#chatbot-plugin {
  height: 100%;
}

#chatbot-plugin {
  font-family: Nunito,sans-serif;
}

#app {
  width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-text-size-adjust: none;
}

#app,#app .lazy-img-wrapper {
  height: 100%;
}

#app .lazy-img-wrapper .lazy-img.lazy-img-error,#app .lazy-img-wrapper .lazy-img.lazy-img-loading {
  display: block;
  height: 230px;
  max-height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

#app .lazy-img-wrapper .lazy-img.lazy-img-loading {
  background-image: url(images/loading.gif);
  opacity: .2;
}

#app .lazy-img-wrapper .lazy-img.lazy-img-error {
  background-image: url(images/error.png);
  background-color: #e07171!important;
}

#app .lazy-img-wrapper .lazy-img.lazy-img-loaded {
  display: block;
  background: transparent!important;
  max-width: 100%;
}

#app .lazy-img-wrapper .lazy-img.lazy-img-loaded.cover {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#app #chat .chat-window {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 40px;
  left: 20px;
  display: block;
  float: right;
}

#app #chat .chat-window.chat-window-mobile {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#app #chat .chat-window.chat-window-mobile .chat-window-wrapper {
  border-radius: 0;
}

#app #chat .chat-window.chat-window-offline .chat-window-wrapper {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#app #chat .chat-window .chat-window-wrapper {
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 16px 18px rgba(0,0,0,.2)!important;
  box-shadow: 0 16px 18px rgba(0,0,0,.2)!important;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-close {
  z-index: 8;
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  right: 13px;
  top: 10px;
  padding: 3px;
  border-radius: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-close svg {
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-close svg:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-close svg:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-close svg:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-start {
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

#app #chat .chat-window .chat-window-wrapper .window-start .background {
  height: 200px;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-start .background .avatar-wrapper {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#app #chat .chat-window .chat-window-wrapper .window-start .background .avatar-wrapper .avatar {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-start .background .avatar-wrapper .avatar .avatar-default {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../images/avatar.jpg);
  -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
}

#app #chat .chat-window .chat-window-wrapper .window-start .background .avatar-wrapper .avatar-status {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 100%;
  background: #4fff4b;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body {
  padding: 0 35px;
  margin-top: 60px;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .name {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .social {
  width: 100%;
  line-height: 15px;
  opacity: .7;
  text-align: center;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .social .icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .social .icon:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .social .icon:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .social .icon:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .social .icon svg {
  width: 100%;
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .description {
  font-size: 15px;
  font-weight: 300;
  opacity: .7;
  text-align: center;
  margin-top: 40px;
  word-wrap: break-word;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper {
  position: relative;
  margin: 60px 0 40px;
  width: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .button {
  margin: 0 auto;
  border: 2px solid transparent;
  border-radius: 20px;
  -webkit-transition: width .3s,height .3s,background-color .6s,border .3s .3s;
  transition: width .3s,height .3s,background-color .6s,border .3s .3s;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .button.button-default {
  text-align: center;
  padding: 10px;
  width: 80%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .button.button-default:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .button.button-default:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .button.button-default:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .button.button-loading {
  width: 42px;
  height: 42px;
  font-size: 0;
  -webkit-animation: loading .6s linear infinite;
  animation: loading .6s linear infinite;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  cursor: wait;
}

#app #chat .chat-window .chat-window-wrapper .window-start .body .button-wrapper .start-error {
  font-size: 14px;
  text-align: center;
  color: #e07171;
  margin-top: 10px;
  cursor: default;
}

#app #chat .chat-window .chat-window-wrapper .window-moment {
  z-index: 9;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.3);
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 40px rgba(0,0,0,.2);
  box-shadow: 0 5px 40px rgba(0,0,0,.2);
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dbe1e8;
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header .favicon {
  width: 40px;
  height: 40px;
  float: left;
  padding: 8.5px;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header .favicon .icon {
  width: 23px;
  height: 23px;
  display: block;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header .title {
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  line-height: 40px;
  height: 40px;
  color: #505050;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  display: block;
  width: calc(100% - 80px);
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header>.close {
  z-index: 11;
  width: 40px;
  height: 40px;
  float: left;
  padding: 7px;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header>.close:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header>.close:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header>.close:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .header>.close svg {
  color: #505050;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .iframe-loader {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .iframe-loader .loader>div {
  -webkit-animation: indicator 1.5s ease-in-out infinite both;
  animation: indicator 1.5s ease-in-out infinite both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin: 0 4px;
  border-radius: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .iframe-loader .loader>div:first-child {
  -webkit-animation-delay: -.1875s;
  animation-delay: -.1875s;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .iframe-loader .loader>div:last-child {
  -webkit-animation-delay: .375s;
  animation-delay: .375s;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .frame-wrapper {
  width: 100%;
  height: calc(100% - 40px);
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .frame-wrapper iframe {
  border: 0;
  width: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .frame-wrapper:not(.frame-wrapper-ios) iframe {
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .frame-wrapper.frame-wrapper-ios {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment .frame-wrapper.frame-wrapper-ios iframe {
  min-height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment.full {
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment.tall {
  height: 75%;
  min-height: 455px;
  border-radius: 10px 10px 0 0;
}

#app #chat .chat-window .chat-window-wrapper .window-moment .moment.compact {
  border-radius: 10px 10px 0 0;
  height: 50%;
  min-height: 280px;
}

@media (max-height:280px) {
  #app #chat .chat-window .chat-window-wrapper .window-moment .moment.compact {
    height: 100%;
    min-height: 100%;
  }
}

#app #chat .chat-window .chat-window-wrapper .window-moment.window-moment-mobile .moment {
  border-radius: 0;
}

@media (max-height:455px) {
  #app #chat .chat-window .chat-window-wrapper .window-moment.window-moment-mobile .moment.tall {
    height: 100%;
    min-height: 100%;
  }
}

@media (max-height:515px) {
  #app #chat .chat-window .chat-window-wrapper .window-moment:not(.window-moment-mobile) .moment.tall {
    height: 100%;
    min-height: 100%;
  }
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper {
  width: 100%;
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head {
  z-index: 6;
  position: relative;
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 0 35px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company {
  margin-top: 20px;
  width: 100%;
  height: calc(100% - 20px);
  overflow: hidden;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .avatar-outer-wrapper {
  position: absolute;
  width: 70px;
  height: 100%;
  left: 0;
  top: 0;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .avatar-outer-wrapper .avatar-wrapper {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .avatar-outer-wrapper .avatar-wrapper .avatar {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .avatar-outer-wrapper .avatar-wrapper .avatar .avatar-default {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../images/avatar.jpg);
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .avatar-outer-wrapper .avatar-wrapper .avatar-status {
  position: absolute;
  right: -2px;
  bottom: 3px;
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 100%;
  background: #4fff4b;
  border: 2px solid transparent;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .name {
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  margin-top: 5px;
  width: 100%;
  float: left;
  font-size: 18px;
  font-weight: 600;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .status {
  font-size: 14px;
  line-height: 15px;
  width: 100%;
  opacity: .7;
  float: left;
  font-weight: 300;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .social {
  line-height: 15px;
  width: 100%;
  opacity: .7;
  float: left;
  margin-top: 20px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .social .icon {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .social .icon:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .social .icon:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .social .icon:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head .company .social .icon svg {
  width: 100%;
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.avatar-offset .company {
  padding-left: 70px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company {
  cursor: pointer;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  margin: 0;
  height: 100%;
  opacity: 1!important;
  padding-left: 45px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company .avatar-outer-wrapper .avatar-wrapper {
  margin-top: 16px;
  width: 30px;
  height: 30px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company .avatar-outer-wrapper .avatar-wrapper .avatar-status {
  bottom: -1px;
  width: 10px;
  height: 10px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company .name {
  margin-top: 21px;
  font-size: 16px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company .social,#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company .status {
  display: none;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company:hover {
  opacity: .6!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.small .company:active {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .head.head-mobile.small .company:hover {
  opacity: 1!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content {
  float: left;
  width: 100%;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation {
  float: left;
  width: 100%;
  height: calc(100% - 60px);
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0 0;
  scrollbar-width: none;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation::-webkit-scrollbar {
  display: none;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper {
  width: 100%;
  will-change: transform;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 20px;
  padding: 0 20px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-date {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 6px;
  text-align: center;
  font-size: 11px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper .response-content {
  min-height: 40px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.image,#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text,#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user {
  width: 70%;
  min-width: 230px;
  max-width: 500px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content {
  float: right;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user .message {
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid transparent;
  display: block;
  padding: 7px 14px;
  border-radius: 19px;
  float: right;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user .message a {
  color: inherit;
  text-decoration: underline;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user .info {
  float: right;
  padding-left: 0;
  padding-right: 5px;
  clear: both;
  margin-top: 8px;
  letter-spacing: .7px;
  font-size: 10px;
  min-height: 14px;
  line-height: 14px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user.sending .message {
  opacity: .4;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user.sending-error .message {
  opacity: 1;
  background: transparent;
  color: #f62d2d;
  border-color: #f62d2d;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[user] .response-content.user.sending-error .info {
  color: #f62d2d;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content {
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text .message {
  min-height: 35px;
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid transparent;
  display: block;
  padding: 7px 14px;
  border-radius: 19px;
  float: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text .message a {
  color: inherit;
  text-decoration: underline;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text.indicator .message {
  padding-top: 13px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text.indicator .message div {
  -webkit-animation: indicator 1.5s ease-in-out infinite both;
  animation: indicator 1.5s ease-in-out infinite both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  width: 7px;
  height: 7px;
  display: block;
  float: left;
  margin: 0 4px;
  border-radius: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text.indicator .message div:first-child {
  -webkit-animation-delay: -.1875s;
  animation-delay: -.1875s;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text.indicator .message div:last-child {
  -webkit-animation-delay: .375s;
  animation-delay: .375s;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.image {
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.image .lazy-img {
  border-radius: 10px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards {
  width: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .item {
  float: none;
  clear: none;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel {
  width: 100%;
  position: relative;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-mask {
  width: 100%;
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-mask .carousel-wrapper {
  white-space: nowrap;
  display: inline-block;
  -webkit-transition: margin .2s;
  transition: margin .2s;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow {
  border: 1px solid #e9e9e9;
  background: #fff;
  position: absolute;
  height: 36px;
  top: -18px;
  opacity: .4;
  color: #505050;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow svg {
  -webkit-transition: all .3s;
  transition: all .3s;
  fill: #505050;
  width: 35px;
  height: 35px;
  display: block;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow.carousel-arrow-left {
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card.cards .carousel .carousel-arrows .carousel-arrow.carousel-arrow-right {
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item {
  border: 1px solid transparent;
  width: 230px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 10px;
  float: left;
  clear: both;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .image-wrapper {
  width: 100%;
  height: 130px;
  float: left;
  display: block;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .description {
  float: left;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  padding: 10px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .description div {
  display: block;
  width: 100%;
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .description div a {
  color: inherit;
  text-decoration: underline;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .description div.title {
  font-weight: 700;
  font-size: 15px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .description div.subtitle {
  color: #9d9d9d;
  font-size: 14px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .buttons {
  float: left;
  width: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .buttons .button {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid transparent;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .buttons .button:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .buttons .button:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.card .item .buttons .button:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item {
  float: left;
  clear: both;
  width: 230px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .message {
  word-wrap: break-word;
  border: 1px solid transparent;
  display: block;
  padding: 7px 14px;
  border-radius: 19px;
  float: left;
  clear: both;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .message a {
  color: inherit;
  text-decoration: underline;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .buttons {
  border-radius: 10px;
  margin-top: 5px;
  border: 1px solid transparent;
  width: 100%;
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .buttons .button {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .buttons .button:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .buttons .button:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .buttons .button:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.button .item .buttons .button:first-child {
  border-top: 0;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot].avatar-offset {
  padding-left: 40px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .avatar {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(../images/avatar.jpg);
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .quick {
  width: 100%;
  padding-left: 0;
  margin-top: 10px;
  text-align: center;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .quick .item {
  padding: 8px 15px;
  font-size: 15px;
  margin: 0 5px 5px 0;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  border: 1px solid transparent;
  line-height: 20px;
  border-radius: 30px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .quick .item:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .quick .item:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .quick .item:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation:after {
  content: "";
  width: 100%;
  float: left;
  clear: both;
  height: 20px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing {
  z-index: 3;
  position: relative;
  height: 60px;
  width: 100%;
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .replies {
  width: calc(100% - 46px);
  margin: 0 23px;
  overflow: hidden;
  position: absolute;
  top: -55px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .replies .reply {
  font-size: 14px;
  letter-spacing: .2px;
  word-spacing: 1px;
  padding: 4px 15px;
  margin: 4px;
  font-weight: 200;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .replies .reply:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .replies .reply:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .replies .reply:disabled {
  opacity: .2;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing input[type=text] {
  font-size: 14px;
  font-weight: 300;
  padding: 0 0 4px 25px;
  background: transparent;
  width: calc(100% - 60px);
  height: 100%;
  border: 0;
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing input[type=text]::-webkit-input-placeholder {
  color: inherit;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing input[type=text]:-ms-input-placeholder {
  color: inherit;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing input[type=text]::-ms-input-placeholder {
  color: inherit;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing input[type=text]::placeholder {
  color: inherit;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .actions {
  float: right;
  height: 100%;
  padding: 16px 9px;
  width: 60px;
  overflow: hidden;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .actions .send {
  display: block;
  width: 27px;
  height: 27px;
  float: left;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .actions .send svg {
  cursor: default;
  opacity: .4;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 100%;
  height: 100%;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .actions .send svg.active {
  cursor: pointer;
  opacity: 1;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing .actions .send svg:active {
  opacity: .6;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .typing.typing-mobile input[type=text] {
  font-size: 16px!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .window-chat-ended-wrapper {
  z-index: 4;
  position: relative;
  height: 60px;
  width: 100%;
  float: left;
  padding: 2px 10px 10px;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .window-chat-ended-wrapper .window-chat-ended-button {
  font-weight: 600;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-align: center;
  padding-top: 14px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .window-chat-ended-wrapper .window-chat-ended-button:hover {
  opacity: .8!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .window-chat-ended-wrapper .window-chat-ended-button:active {
  opacity: .5!important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .window-chat-ended-wrapper .window-chat-ended-button:disabled {
  opacity: .2;
}

#app #chat .chat-window .offline-wrapper {
  z-index: 12;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

#app #chat .chat-window .offline-wrapper,#app #chat .chat-window .offline-wrapper .offline-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#app #chat .chat-window .offline-wrapper .offline-information {
  pointer-events: all;
  -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 20px 1px rgba(0,0,0,.1);
  font-size: 16px;
  font-weight: 400;
  width: 80%;
  height: 100px;
  max-width: 300px;
  background: #fff;
  color: #505050;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
}

#app #chat .chat-window a.powered { border-bottom:none; }

#app #chat .chat-window .powered {
  z-index: 2;
  color: #fff;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  text-align: right;
  font-size: 12px;
  text-shadow: 0 1.16px 11px rgba(0,0,0,.7);
  font-weight: 600;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-window .powered:hover {
  opacity: .8!important;
}

#app #chat .chat-window .powered:active {
  opacity: .5!important;
}

#app #chat .chat-window .powered:disabled {
  opacity: .2;
}

#app #chat .button-greeting {
  position: absolute;
  bottom: calc(100% + 15px);
  right: 0;
  width: 280px;
  text-align: right;
}

#app #chat .button-greeting .button-greeting-close {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 100%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#app #chat .button-greeting .button-greeting-close svg {
  background: hsla(0,0%,100%,.2);
  width: 20px;
  height: 20px;
  font-size: 17px;
  border-radius: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .button-greeting .button-greeting-close svg:hover {
  opacity: .8!important;
}

#app #chat .button-greeting .button-greeting-close svg:active {
  opacity: .5!important;
}

#app #chat .button-greeting .button-greeting-close svg:disabled {
  opacity: .2;
}

#app #chat .button-greeting .button-greeting-content-wrapper {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 6px;
  background: #fff;
  color: #505050;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  -webkit-transition: opacity .3s,-webkit-box-shadow .3s;
  transition: opacity .3s,-webkit-box-shadow .3s;
  transition: box-shadow .3s,opacity .3s;
  transition: box-shadow .3s,opacity .3s,-webkit-box-shadow .3s;
  cursor: pointer;
  padding: 15px;
  max-width: 100%;
}

#app #chat .button-greeting .button-greeting-content-wrapper .button-greeting-content {
  line-height: 22px;
  max-height: 44px;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

#app #chat .button-greeting .button-greeting-content-wrapper .button-greeting-content::-webkit-scrollbar {
  display: none;
}

#app #chat .button-greeting .button-greeting-content-wrapper:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.2);
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

#app #chat .button-greeting .button-greeting-content-wrapper:active {
  opacity: .6;
}

#app #chat .button-greeting:hover .button-greeting-close {
  opacity: 1;
}

#app #chat .button-greeting:hover .button-greeting-close:active {
  opacity: .5;
}

#app #chat .chat-button-theme-bar {
  position: absolute;
  bottom: 0;
  width: 250px;
  right: 20px;
}

#app #chat .chat-button-theme-bar .chat-button {
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px 10px 6px;
  letter-spacing: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

#app #chat .chat-button-theme-bar .chat-button:hover {
  opacity: .8!important;
}

#app #chat .chat-button-theme-bar .chat-button:active {
  opacity: .5!important;
}

#app #chat .chat-button-theme-bar .chat-button:disabled {
  opacity: .2;
}

#app #chat .chat-button-theme-bar .chat-button span:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 10px;
  background: #4fff4b;
}

#app #chat .chat-button-theme-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

#app #chat .chat-button-theme-bubble .chat-button {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#app #chat .chat-button-theme-bubble .chat-button:hover {
  -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,.14);
  box-shadow: 0 0 30px 5px rgba(0,0,0,.14);
}

#app #chat .chat-button-theme-bubble .chat-button:active svg {
  opacity: .4;
}

#app #chat .chat-button-theme-bubble .chat-button svg.chat-icon {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin: 12px 0 0 13px;
  width: 36px;
  height: 36px;
}

#chatbot-chat {
  background-color: transparent;
    /**pointer-events: none;**/
  z-index: 2147483639;
  max-height: 100%;
  position: fixed;
  right: 0px;
  bottom: 0px;
  border: 0px;
  width: 410px;
  height: 700px;
  max-width: 100%;
  overflow: hidden;
  opacity: 1;
}

.chat-button-theme-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

.chat-button {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  -webkit-transition: all .5s;
  transition: all .5s;
  background: rgb(31, 140, 235);
  color: rgb(250, 250, 250);
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text .buttonoption {
  min-height: 35px;
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid transparent;
  display: block;
  padding: 7px 14px;
  border-radius: 19px;
  float: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(31, 140, 235) !important;
  color: #FFFFFF !important;
  border-color: rgb(31, 140, 235) !important;
}

#app #chat .chat-window .chat-window-wrapper .window-content-wrapper .window-content .conversation .conversation-wrapper .response .response-wrapper[bot] .response-content.text .buttonoption:hover {
  background-color: #FFFFFF !important;
  color: rgb(31, 140, 235) !important;
  border-color: #FFFFFF !important;
}